.headerStyle {
    background-color: darkgray;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px
}

.imageFinder {
    /*margin: 20px 40px;*/
    font-style: normal;
    font-family: cursive;
}